extends layout/template.pug

block content
  include layout/nav.pug

  main.account
    h1 Account
    form(action='/update' method='POST')
      section
        input(type='hidden' name='id' placeholder='id' value=userData._id).accountid

        label(for='firstname') First name
        input(type='text' name='firstname' placeholder='First name' value=userData.firstname required)

      section
        label(for='lastname') Last name
        input(type='text' name='lastname' placeholder='Last name' value=userData.lastname required)

      section
        label(for='email') E-mailadres (used for contact)
        input(type='email' name='email' placeholder='E-mail' value=userData.email required)

      hr

      section
        label(for='education') Current study
        input(type='text' name='education' placeholder='Education' value=userData.education required)

      section
        label(for='school') School
        input(type='text' name='currentSchool' placeholder='School' value=userData.currentSchool required)

      section
        label(for='country') Preferred country
        select(name='countryPreference' id='country' value=userData.countryPreference required)
          option(value=userData.countryPreference selected disabled) #{userData.countryPreference}
          option(value='Canada') Canada
          option(value='England') England
          option(value='Japan') Japan
          option(value='Netherlands') Netherlands
          option(value='United states') United States
      input(type='submit' value='Update profile')