extends layout/template.pug

block content
  main.userselect
    div
      h1 Select your user
      a.newUser(href=`/add`) Create a new user >
    form(action='/userselect' method='POST')
      each val in student
        input(type='radio' id=`user_${val._id}` name='userid' value=`${val._id}`)
        label(for=`user_${val._id}`)
          h3=val.firstname + ' ' + val.lastname
          p=val.currentSchool
          p=val.countryPreference
      input(type='submit' value='Choose user')