extends layout/template.pug

block content
  main.matches
    h1 Matches
    ul
      each val in student
        if mainUser.countryPreference == val.countryPreference
          li
            h2= `${val.firstname} ${val.lastname}`
            p= `Preference: ${val.countryPreference}`
            p= `Studies: ${val.education}`
            p= `School: ${val.currentSchool}`
            a(href='mailto:' + val.email) Send Email >